

 <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


 <style amp-custom> body { width: auto; margin: 0; padding: 0; } header { background: Tomato; color: white; font-size: 2em; text-align: center; } h1 { margin: 0; padding: 0.5em; background: white; box-shadow: 0px 3px 5px grey; } p { padding: 0.5em; margin: 0.5em; } .carousel_dots{ text-align: center; } .current { background: #6e6e6e; } button { margin: 0 3px; border: solid 1px #ccc; height: 8px; border-radius: 100%; padding: 0 3px;}.headerbar { height: 50px; position: fixed; z-index: 999; top: 0; width: 100%; display: flex; align-items: center; }.site-name { margin: auto; }

  

   .header{


    overflow: hidden;

  position: fixed;

  top: 0;

  background: rgb(0, 102, 255);

  color: white;

  font-size: 3em;

  text-align: center;

  justify-content: space-around;

  z-index: 10;

  display: flex;

  width: 100vw;

  height: 10vh;



   }



   .footer{

    overflow: hidden;

    position: fixed;

    bottom: 0;

    background: rgb(0, 102, 255);

    color: white;

    font-size: 3em;

    text-align: center;

    text-decoration: none;

    justify-content: space-around;
  
    z-index: 10;

    display: flex;

    width: 100vw;

    height: 10vh;

    

   
   }

   img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 100%;
}
.img-fluid {
max-width: 100%;
height: auto;
line-height: 0;
}
@media screen and (max-width: 500px) {
.responsive  {
padding: 0px 0px;
display: block;
margin: 0px 0px;
}
}
.responsive img {
display: block;
possition: center;   
}
body {
   margin: 0;
   padding: 0;
}
 ::-webkit-scrollbar {
  display: none;
  }
footer {
height: 120px;
Width: 100vw;
display: flex;
justify-content: center;
background-color: #A8EB12;
z-index:100;
position: fixed;
bottom:0;
overflow: hidden;
}
h1 { 
  color: #347deb;
    font-size: 200%;
  font-weight: 200;
  }



</style>
